 <!-- <div >
  <h1> Welcome to Angular</h1>
  <img width="300" alt = "Angular Logo" src ="./assets/images/Everythings.jpg">

 </div> -->
<!-- <div class ="col-sm-2">
    <label> INPUT </label>
 <input type ="text" [(ngModel)] ="title" class="form-control">
<p> <b>OUTPUT :  {{title}} </b></p>
</div> -->
<div class = "container">
    <div class ="row">
<h3> APP COMPONENT </h3>
<hr>
<!-- <app-servers></app-servers>
 -->
 <!-- // in selectore we put array bracket then we should mention like this -->
 <!-- <div app-servers></div>
 -->
 <!-- .app servers selector -->
 <div class="app-servers"></div>
</div>
</div>
<!-- <app-server></app-server> -->

